body {
    background: #dd3e54;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6be585, #dd3e54);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6be585, #dd3e54); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    user-select: none;    
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap:4px ;
    background-color: cadetblue;
    padding: 4px;
    border-radius: 5px;
    max-width: 360px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item {
    background-color: khaki;
    color: black;
}
